.DivList {
  display: flex;
  flex-direction: column;

  input {
    height: 40px;
  }

  button {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #00BCD5;
    background-color: white;
    cursor: pointer;
    color: #00BCD5;
  }
  
  button:first-child {
    border: none;
    color: white;
    background-color: #00BCD5;
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}