.menu {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: var(--white);

  h2 {
    margin: 5%;
  }
}

.divMenu {
  height: 25%;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30px 0;
  background-color: #00BCD5;

  span {
    color: black;
  }
  text {
    color: white;
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
}